<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.slk.wph.module.CUS_Ward.mapper.CusWardMapper" >
  <resultMap id="BaseResultMap" type="com.slk.wph.module.CUS_Ward.po.CusWard" >
    <id column="fid" property="fid" jdbcType="INTEGER" />
    <result column="wph_user_fid" property="wphUserFid" jdbcType="INTEGER" />
    <result column="wph_role_fid" property="wphRoleFid" jdbcType="INTEGER" />
    <result column="wardfids" property="wardfids" jdbcType="VARCHAR" />
    <result column="modify_userfid" property="modifyUserfid" jdbcType="INTEGER" />
    <result column="modifyname" property="modifyname" jdbcType="VARCHAR" />
    <result column="modifydate" property="modifydate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    fid, wph_user_fid, wph_role_fid, wardfids, modify_userfid, modifyname, modifydate
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.slk.wph.module.CUS_Ward.po.CusWardExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cus_ward
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from cus_ward
    where fid = #{fid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from cus_ward
    where fid = #{fid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.slk.wph.module.CUS_Ward.po.CusWardExample" >
    delete from cus_ward
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.slk.wph.module.CUS_Ward.po.CusWard" >
    insert into cus_ward (fid, wph_user_fid, wph_role_fid, 
      wardfids, modify_userfid, modifyname, 
      modifydate)
    values (#{fid,jdbcType=INTEGER}, #{wphUserFid,jdbcType=INTEGER}, #{wphRoleFid,jdbcType=INTEGER}, 
      #{wardfids,jdbcType=VARCHAR}, #{modifyUserfid,jdbcType=INTEGER}, #{modifyname,jdbcType=VARCHAR}, 
      #{modifydate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.slk.wph.module.CUS_Ward.po.CusWard" >
    insert into cus_ward
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fid != null" >
        fid,
      </if>
      <if test="wphUserFid != null" >
        wph_user_fid,
      </if>
      <if test="wphRoleFid != null" >
        wph_role_fid,
      </if>
      <if test="wardfids != null" >
        wardfids,
      </if>
      <if test="modifyUserfid != null" >
        modify_userfid,
      </if>
      <if test="modifyname != null" >
        modifyname,
      </if>
      <if test="modifydate != null" >
        modifydate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fid != null" >
        #{fid,jdbcType=INTEGER},
      </if>
      <if test="wphUserFid != null" >
        #{wphUserFid,jdbcType=INTEGER},
      </if>
      <if test="wphRoleFid != null" >
        #{wphRoleFid,jdbcType=INTEGER},
      </if>
      <if test="wardfids != null" >
        #{wardfids,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserfid != null" >
        #{modifyUserfid,jdbcType=INTEGER},
      </if>
      <if test="modifyname != null" >
        #{modifyname,jdbcType=VARCHAR},
      </if>
      <if test="modifydate != null" >
        #{modifydate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.slk.wph.module.CUS_Ward.po.CusWardExample" resultType="java.lang.Integer" >
    select count(*) from cus_ward
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update cus_ward
    <set >
      <if test="record.fid != null" >
        fid = #{record.fid,jdbcType=INTEGER},
      </if>
      <if test="record.wphUserFid != null" >
        wph_user_fid = #{record.wphUserFid,jdbcType=INTEGER},
      </if>
      <if test="record.wphRoleFid != null" >
        wph_role_fid = #{record.wphRoleFid,jdbcType=INTEGER},
      </if>
      <if test="record.wardfids != null" >
        wardfids = #{record.wardfids,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyUserfid != null" >
        modify_userfid = #{record.modifyUserfid,jdbcType=INTEGER},
      </if>
      <if test="record.modifyname != null" >
        modifyname = #{record.modifyname,jdbcType=VARCHAR},
      </if>
      <if test="record.modifydate != null" >
        modifydate = #{record.modifydate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update cus_ward
    set fid = #{record.fid,jdbcType=INTEGER},
      wph_user_fid = #{record.wphUserFid,jdbcType=INTEGER},
      wph_role_fid = #{record.wphRoleFid,jdbcType=INTEGER},
      wardfids = #{record.wardfids,jdbcType=VARCHAR},
      modify_userfid = #{record.modifyUserfid,jdbcType=INTEGER},
      modifyname = #{record.modifyname,jdbcType=VARCHAR},
      modifydate = #{record.modifydate,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.slk.wph.module.CUS_Ward.po.CusWard" >
    update cus_ward
    <set >
      <if test="wphUserFid != null" >
        wph_user_fid = #{wphUserFid,jdbcType=INTEGER},
      </if>
      <if test="wphRoleFid != null" >
        wph_role_fid = #{wphRoleFid,jdbcType=INTEGER},
      </if>
      <if test="wardfids != null" >
        wardfids = #{wardfids,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserfid != null" >
        modify_userfid = #{modifyUserfid,jdbcType=INTEGER},
      </if>
      <if test="modifyname != null" >
        modifyname = #{modifyname,jdbcType=VARCHAR},
      </if>
      <if test="modifydate != null" >
        modifydate = #{modifydate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where fid = #{fid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.slk.wph.module.CUS_Ward.po.CusWard" >
    update cus_ward
    set wph_user_fid = #{wphUserFid,jdbcType=INTEGER},
      wph_role_fid = #{wphRoleFid,jdbcType=INTEGER},
      wardfids = #{wardfids,jdbcType=VARCHAR},
      modify_userfid = #{modifyUserfid,jdbcType=INTEGER},
      modifyname = #{modifyname,jdbcType=VARCHAR},
      modifydate = #{modifydate,jdbcType=TIMESTAMP}
    where fid = #{fid,jdbcType=INTEGER}
  </update>
</mapper>